<form action="/" method="POST" id="product-form">
    <input type="text" id="name" name="name" placeholder="Ingresar nombre del producto">
    <input type="number" name="price" id="price">
    <input type="submit" value="Cargar">
</form>

<h2>Lista de productos en tiempo real:</h2>
    <ul>
        {{#each food}}
            <li>{{this.name}} - ${{this.price}}</li>
        {{/each}}
    </ul>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
