<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
</head>
<body>
    <form action="/user" method="POST">
        <label for="name">Nombre</label>
        <input type="text" name="name" id="name" required>
        <label for="mail">Correo</label>
        <input type="mail" name="mail" id="mail" required>
        <label for="password"">Password</label>
        <input type="password" name="password" id="password" required>
        <button type="submit">Registrar</button>
    </form>
    
    
</body>
</html>